tbody {
    border: 1px solid black;
}

th, .table-dark > td {
    background-color: #303030;
}

.thead_font {
    color: aliceblue;
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

.btn {
    margin: 5px;
}
